{% extends 'quotes/layout.html' %}

{% block header %}Случайная цитата{% endblock %}

{% block content %}
<div class="card shadow-lg mb-4">
  <div class="card-body text-center">
    <blockquote class="blockquote">
      <p class="mb-3 fs-4">“{{ quote.text }}”</p>
      <footer class="blockquote-footer">{{ quote.source }} | <span class="badge bg-info">{{ quote.get_topic_display }}</span></footer>
    </blockquote>

    <div class="mt-3 d-flex justify-content-center gap-4">
      <form method="post" action="{% url 'vote' quote.id 'like' %}" class="d-inline">
        {% csrf_token %}
        <button class="btn btn-success"><i class="bi bi-hand-thumbs-up"></i>👍</button>
        <p>{{ quote.likes }}</p>
      </form>
      <form method="post" action="{% url 'vote' quote.id 'dislike' %}" class="d-inline">
        {% csrf_token %}
        <button class="btn btn-danger"><i class="bi bi-hand-thumbs-down"></i>👎</button>
        <p>{{ quote.dislikes }}</p>
      </form>
    </div>

    <p class="text-muted mt-2">Просмотров: {{ quote.views }}</p>
  </div>
</div>
{% endblock %}
